<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="DemoBlaze Automation" verbose="1" >
    <test name="DemoBlaze Automation" >
        <classes>
            <class name="HomePageTest"/>
            <class name="SignUpPageTest"/>
            <class name="LoginPageTest"/>
            <class name="ProductPageTest"/>
            <class name="CartPageTest"/>
        </classes>
    </test>

</suite>